html {
  font-size: 30px;
}
ul {
  margin: 0;
  padding: 0;
}

header {
  font-size: 0.8rem;
  display: flex; 
  justify-content: space-between;
  padding: 1rem;
}

.links-header * {
padding-right: 0.8rem;
}

.drop-down-menu ul {
font-size: 0.69rem ;
display: flex;
justify-content: space-around;

}

.drop-down-menu ul > li {
  list-style-type: none;
  padding: 0.55rem;
  border: 0.07rem #000000 solid;
}

.drop-down-menu ul > li:first-child {
  border-left: 0.1rem  #000000 solid;
}
.drop-down-menu ul > li:last-child {
  border-right: 0.1rem  #000000 solid;
}

.advertising{
  text-align: center;
  background-color: green;
  height: 2.5rem;
}
.slider {
  text-align: center;
  background-color: yellow;
  height: 5rem;
}

.products {
  display: flex;
  flex-flow: wrap;
  margin-top: 2rem;

}

.cart_items{
  display: flex;
}

.cart_item{
  padding: 30px;
}

.products li {
  font-size: 0.5rem;
  padding-left: 0rem 0rem 2rem 1.3rem;
  width: 178px;
  list-style: none;
}

.img_product {
  width: 178px;
  height: 178px;
}

.img_product_detail{
  width: 100px;
  height: 100px;
}

.price_product {
  font-size: 1.1rem;
  color: red;
}

